/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-primary: 'Inter';
    --font-accent: 'PressStart2P', 'Courier New', 'Lucida Console';
    --font-weight-card-title: 'wght' 700;
    --font-weight-card-text: 'wght' 400;
    --background-color: #FFFFFF;
    --text-color: #000000;
    --stripe-color: #d3d3d3;
    --gradient-start: #e7e7e7;
    --gradient-end: #1a1a1a;
    --label-accent-color: #000000;
    --accent-color: #000000;
    --diference-color: #FFFFFF;
    --heart-liked: red;
    --heart-border: black;
}